SWI-PROLOG - version: 8.4.2
Python - Version: 3.12.3
customtkinter - Version: 5.2.2
tkintermapview - Version: 1.29
pyswip - Version: 0.2.11


Caso o código não funcione sendo diretamente baixado pelo GitHub siga as instruções

separe os arquivos 

Interface.py & Recommendation.pl em outra pasta
Crie um Ambiente Virtual e baixe as bibliotecas 

Siga as instruções e coloque os comandos abaixo

python -m venv venv
.\venv\Scripts\activate
pip install customtkinter
pip install tkintermapview
pip install pyswip

Verifique se algo mais é necessário. 
